header{
    min-height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    min-height: 800px;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    padding: 16px;
}
main .rates{
    border:1px solid black;
    padding: 8px;
    border-radius: 8px;
}

main .rates .change{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid white;
    padding: 4px;
}